import("CellNOptR", "igraph", "minet", "catnet")

export("Binference",
    "gaBinaryT1int",
    "getFitint",
    "linksRanking",
    "makeBTables",
    "mapBTables2model",
    "mapDDN2model",
    "MIinference",
    "PPIweight")
