import("CellNOptR", "igraph", "minet", "catnet")

export("AddLinkAND",
    "AddLink",
    "Binference",
    "downCueGraph",
    "gaBinaryT1int",
    "getFitint",
    "linksRanking",
    "makeBTables",
    "MapBTables2Model",
    "MapDDN2Model",
    "MIinference",
    "PPIweight",
    "SearchLinkGraph",
    "searchPPIigraph",
    "upSignalGraph")
