import("CellNOptR", "abind")

export("simulatorTimeScaleT2",  "simulatorTimeScale",  "plotOptimResultsTimeScale",  "getFitTimeScale",  "gaBinaryTimeScaleT2",  "gaBinaryTimeScale",  "cutModel",  "cutAndPlotResultsTimeScaleT2",  "cutAndPlotResultsTimeScale"
)
